.consultory-main-title{
    color: #4D5766;
    font-size: 27px;
    font-weight: lighter;
}
.consultory-subtitle,.consultory-subtitle-paragraph{
    font-weight: bold;
    font-size: 18px;
    color:#9D9D9D;
}
.consultory-subtitle{
    margin-bottom: 0;
}
.consultory-subtitle-paragraph{
    font-weight: lighter;
}
.consultory-third-subtitle{
    font-weight: lighter;
    color: #9D9D9D;
    font-size: 15px;
}
.consultory-subtitle-description{
    font-size: 14px;
    font-weight: lighter;
    color: #9D9D9D;
    text-align: left;
    margin-top: 40px;
}
.consultory-advantage-container .advantages-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.consultory-advantage-container .advantages-container > div {
    width: 100%;
    justify-content: end;
    padding-left: 0;
}
.consultory-advantage-container .advantage-container svg {
    width: 38px;
}
.consultory-advantage-container .advantage-container p{
    margin-left: 2rem;
}
.image-consultory{
    padding: 40px;
}
.consultory-contact .top-border{
    border:none;
}
@media (max-width: 960px) {
    .advantages-container{
        padding-top: 0;
    }
    .consultory-container {
        flex-direction: column;
    }
    .image-consultory {
        padding: 0;
    }
    .consultory-subtitle{
        margin-top: 10px;
    }
    .consultory-container > div{
        width: 100%;
    }
    .consultory-advantage-container {
        width: 100%;
    }
    .consultory-advantage-container svg{
        padding-right: 20px;
    }
}

@media (max-width: 600px) {
    .consultory-mobile{
        width: 100%;
        padding: 0 4%;
    }
    .consultory-mobile .contact-mobile{
        padding: 0;
    }
    .testimonies-consultory{
        flex-direction: column;
    }
}