.appointment-title{
    color: #4D5766;
    font-size: 27px;
    font-weight: lighter;
    margin-top: 35px;
    margin-bottom: 35px;
}
.promotion-image {
    background:  url('../images/Banner-pide-tu-cita.jpg');
    background-repeat: no-repeat;
    background-origin: inherit;
    height: 300px;
}
.apointment-container .consultory-contact-info{
    border-top: 1px solid lightgray;
    padding-top: 20px;
}
 #appointment-form input{
        box-sizing: content-box;
}
@media (min-width: 1300px){
    .promotion-image{
        background-size: cover; 
    }
}
@media (max-width: 960px) {
    #appointment-form .mobile-input{
        width: 100%;
    }
    #appointment-form .appointment-container{
        flex-direction: column;
        padding: 0;
        margin-top: 0;
        width: 100%;
    }
    #appointment-form .form-border{
        padding-left: 1rem;
        padding-right: 1rem;
        border: none;
        padding-top: 0;
    }
   
    .multiline-container{
        width: 100%;
        padding-right: 0;
    }
    .multiline-container > div{
        width: 100%;
    }
    .form-border{
        padding: 0;
    }
}
@media (max-width: 600px) {
    .promotion-image {
        background:  url('../images/banner-mobile-pide-tu-cita.jpg');
        background-repeat: no-repeat;
        background-origin: inherit;
        height: 230px;
    }
    #appointment-form .form-border{
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    .appointment-container > div, .appointment-container .multiline-container > div{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}