.especialist-types{
    background-color: #EFEFEF;
}
.especialist-content{
    background-color: rgba(0, 0, 0, 0.212)
}
.especialist-card-desktop{
    background-color: white;
}
.especialist-content .especialist-card{
    border-radius: 9px;
    width: 350px;
    height: 500px;
}
.discount-badge{
    margin-top: 12px;
}