.testimonies-title{
    color:#4D5766;
    font-weight: lighter;
    font-size: 27px;
}
.luxury-experience-background{
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url('../images/banner-testimonios.jpg');
    background-repeat: no-repeat;
    background-origin: inherit;
    background-size: cover;
    height: 230px;
}
.luxury-experience-background h6, .luxury-experience-background span{
    font-weight: lighter;
    font-size: 31px;
    color:white
}
.testimonies-experience .experience-title{
    color: #9D9D9D;
}
.custom-border-top{
    border-top: 1px solid lightgray;
}
.custom-border-top > div > div {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}
.testimonies-component .luxury-experience-background span{
    font-weight: bold;
}
@media (max-width: 960px) {
    .testimonies-component > div > div{
        flex-direction: column
    }
}
@media (max-width: 600px) {
    .luxury-experience-background{
        background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url('../images/Banner-mobile-testimonios.jpg');
        background-repeat: no-repeat;
        background-origin: inherit;
        background-size: cover;
        height: 230px;
    }
}