.footer{
    background-color: #121212;
}
.footer p, .footer h6,.footer-copyright h6{
    color:white;
    font-size: 13px;
}
.footer-copyright{
   background-color: #242424; 
}
.footer-copyright h6{
    font-weight: lighter;
}
@media (max-width: 960px) {
    .footer{
        flex-direction: column;
    }
    .footer> div {
        width: 100%;
    }
    .contact-footer{
        flex-direction: column;
    }
    .contact-footer > div{
        width: 100%;
        padding: 0;
    }
}