.aws-btn {
    --slider-height-percentage: 30%;
    --slider-transition-duration: 387ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 18px;
    --organic-arrow-color: #cecece;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #cecece;
    --control-bullet-active-color: #747474;
    --loader-bar-color: transparent;
    --loader-bar-height: 6px;
}
.aws-sld__bullets button{
    width: 6px;
    height: 6px;
    display: none;
}
.advantage-color{
    color:#9D9D9D;
}