@import "../../../node_modules/react-alice-carousel/lib/alice-carousel.css";
.main-carousel img{
    width: 100%;
    position: relative;
}
.main-carousel .alice-carousel__stage-item{
    padding: 0;
    margin-bottom: 0;
}
.main-carousel .alice-carousel__prev-btn, .main-carousel .alice-carousel__next-btn{
    padding: 0;
}
.main-carousel .alice-carousel__dots {
    position: absolute;
    left: 50%;
    bottom: 15%;
    margin-top: 0;
}
.aws-btn {
    --slider-height-percentage: 30%;
    --slider-transition-duration: 387ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 18px;
    --organic-arrow-color: #cecece;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #cecece;
    --control-bullet-active-color: #747474;
    --loader-bar-color: transparent;
    --loader-bar-height: 6px;
}
.aws-sld__bullets button{
    width: 6px;
    height: 6px;
    display: none;
}
.advantage-color{
    color:#9D9D9D;
}
/* Experiencias */
.experience-container-carousel .alice-carousel{
    background-color: #4D5766;
}
.experience-container-carousel .alice-carousel__stage-item{
    padding-left: unset;
    padding-right: unset;
    margin-bottom: unset;
}
.experience-container-carousel .alice-carousel__dots{
    margin: 0px;
    height: 30px;
}
.alice-carousel__prev-btn, .alice-carousel__next-btn{
    padding: 0;
}
.treatments-container .alice-carousel__dots{
    margin-top: 20px;
}
.luxury-experience{
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url('../images/experiencias-luxury.jpg');
    background-repeat: no-repeat;
    background-origin: inherit;
    background-size: cover;
}
.luxury-experience h6, .luxury-experience span{
    font-weight: lighter;
    font-size: 31px;
    color:white
}
.luxury-experience span{
    font-weight: bold;
}
.experience-background{
    background-color: #4D5766;
}
.img-experience{
    width: 90px;
    height: 90px;
}
.img-experience img{
    border-radius: 50%;
}
.experience-title{
    font-size: 21px;
    font-weight: lighter;
}
.experience-type{
    font-size: 14px;
}
.experience-description{
    font-size: 14px;
    font-weight: lighter;
}
/* Treatments */
.treatments-background{
    background-color: #F2F2F2;
}
.card-container{
    background-color: white;
    border-radius: 9px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    height: 450px;
    max-width: 360px;
}
.alice-carousel__stage-item{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
}
.card-image {
    height: auto;
}
.card-image img{
    border-radius: 9px 9px 0 0;
    width: 100%;
    height: 100%;
}
.treatments-title, .especialist-title, .contact-title{
    color:#4D5766;
    font-family: 'Roboto',sans-serif;
    font-weight: lighter;
    font-size: 27px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.treatments-container{
    padding: 0px;
    width: 100%;
    margin: 0px;
    align-self: center;  
}
.treatment-description-container{
    height: 73px;
}
.treatment-description{
    color:#9D9D9D;
    font-size: 14px;
    text-align: justify;
    font-weight: lighter;
}
.cards-title{
    color:#4D5766;
    font-weight: lighter;
    font-size: 23px;
}
.cards-carousel > div:first-child{
    padding-bottom: 20px;
}
.card-date-button {
    font-size: 12px;
    background-color: #69ABBE;
    border-radius: 19px;
    color:white;
}
.read-more-card{
    font-size: 12px;
}
.custom-chevron{
    background-color: #d1d1d15c;
    box-shadow: none;
    color: #848484;
    width: 50px;
    height: 50px;
    padding: 17px;
    border-radius: 50%;
}
.custom-chevron.experience{
    color:#f1f1f1;
}
.see-all{
    background-color: white;
    border-radius: 24px;
    box-shadow: #31313129 0px 3px 6px;
}
/* Especialist */
.especialist-info, .especialist-image{
    height: 200px;
}
.especialist-card .especialist-treatment-description{
    display: none;
}
.especialist-card:hover{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.especialist-card-desktop {
    max-width: 400px;
}
.card-container{
    height: 500px;
}
.card-container .form-container form input{
    box-sizing: content-box;
}
.treatments-background .card-container .form-container form{
    display: none;
}
/* .treatments-background .card-container:hover .form-container form{
    display: flex;
}
.treatments-background .card-container:hover .form-container .card-date-button{
    display: none;
} */
.treatments-background .card-container .form-container .card-date-button{
    display: inline-block;
}

.discount-badge {
    background-color: #04B3E5;
    font-size: 18px;
    font-weight: normal;
    padding: 11px;
    padding-left: 0;
    width: 110px;
    display: flex;
    flex-direction: row;
    height: 33px;
    justify-content: center;
    color: white;
    align-items: center;
    margin-bottom: 18px;
}
.discount-badge span{
    font-weight: lighter;
}
.discount-badge.no-discount{
    background-color: transparent;
}
.discount-badge.no-discount:after{
    background-color: transparent;
    border-color: transparent;
}
.discount-badge:after {
    position: absolute;
    content: "";
    background-color: #04b3e5;
    height: 0px;
    width: 0px;
    margin: 0 auto;
    z-index: 6;
    left: 77px;
    transform: rotate(0deg);
    top: 0px;
    border: 33px solid #04b3e5;
    background-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    /* padding: 2px 3px 23px 2px; */
}
.especialist-image{

}
.especialist-image img{
    border-radius: 50%;
    border: 1px solid #BCBCBC;
}
.especialist-name{
    color:#4D5766;
    font-weight: lighter;
    font-size: 23px;
    margin-bottom: 0;
}
.especialist-prefix{
    font-weight: bold;
    font-size: 23px;
}
.especialist-school{
    color:#9D9D9D;
    font-size: 14px;
    font-weight: lighter;
    margin-top: 8px;
    margin-bottom: 4px;
}
.especialist-treatment{
    color: #69ABBE;
    font-weight: 400;
    font-size: 19px;
    margin-top: 4px;
}
.especialist-read-more{
    font-weight: lighter;
    font-size: 12px;
    text-transform:uppercase;
    color: #69ABBE;
}
.quality-icon svg{
    width: 35px;
}

.blue-container{
    background-color:rgba(56, 170, 221, 0.16);
    color:#9D9D9D;
    font-size: 14px;
    text-align: left;
    border-radius: 6px;
}
.custom-border{
    border-right: 1px solid lightgrey;
}
.custom-border p, .ofix-photo p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.top-border{
    border-top: 1px solid lightgray;
}
.see-route-link svg{
    width: 25px;
    height: 25px;
}
.embebed-map iframe{
    width: 100%;
    height: 100%;
    border:none;
    border: 2px solid #E0E0E0;
    border-radius: 6px;
    box-sizing: border-box;
}
.embebed-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    padding: 3%;
    padding-left: 0;
    padding-right: 0;
}
.map-container{
}
.ofix-container {
    padding-left: 0;
    padding-right: 0;
}
.mobile-card {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 9px;
    margin-right: 27px;
    margin-left: 27px;
    padding: 15px;
}
.contact-mobile{
    display: none;
}
.alice-carousel__dots-item{
    background-color:#BEBEBE
}
.alice-carousel__dots-item:hover, .alice-carousel__dots-item.__active{
    background-color: rgba(190, 190, 190, 0.43);
}
.ofix-building{
    font-size: 16px;
}
p.alice-carousel__prev-btn-item,.alice-carousel__prev-btn-item:hover {
    background: url('../images/arrow-left.svg'), rgba(209, 209, 209, 0.67) no-repeat;
    background-repeat: no-repeat;
    background-position: center;
}
.alice-carousel__prev-btn-item:hover {
    background: url('../images/arrow-left.svg'), rgba(209, 209, 209, 0.81) no-repeat;
    background-repeat: no-repeat;
    background-position: center;
}
.alice-carousel__next-btn-item:hover {
    background: url('../images/arrow-right.svg'), rgba(209, 209, 209, 0.81) no-repeat;
    background-repeat: no-repeat;
    background-position: center;
}

.alice-carousel__prev-btn-item, .alice-carousel__next-btn-item, .alice-carousel__prev-btn-item:hover, .alice-carousel__next-btn-item:hover {
    color: transparent;
    margin: 0;
    width: 50px;
    height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 0;
}

p.alice-carousel__next-btn-item,.alice-carousel__next-btn-item:hover  {
    right: 0;
    background: url('../images/arrow-right.svg'), rgba(209, 209, 209, 0.78) no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    left: unset;
}


.experience-container-carousel .alice-carousel__prev-btn, .experience-container-carousel .alice-carousel__next-btn{
    background-color: transparent;
}
.experience-container-carousel p.alice-carousel__prev-btn-item{
    background-color: white;
    left: 4%;
}
.experience-container-carousel p.alice-carousel__next-btn-item{
    right: 4%;
    background-color: white;
}

@media (max-width: 960px) {
    .treatments-title, .especialist-title, .contact-title{
        margin-bottom: 35px;
        margin-top: 35px;
    }
    .advantages-container{
        overflow: auto;
        white-space: nowrap;
        justify-content: unset;
    }
    .advantage-container{
        width: 300px;
    }
    .advantages-container::-webkit-scrollbar {
        display: none;
    }
    .treatments-background{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .experience-container{
        flex-direction: column; 
        margin-bottom: 150px;
    }
    
    .experience-container > div{
        width: 100%;
        height: 300px;
    }
    .luxury-experience{
        background-size: auto;
        background-position: top;
    }
    /* .embebed-map{
        height: 395px;
    } */
    .especialist-container{
        display: inline-block;
        justify-content: unset;
    }
    .ofix-contact-info{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .contact-desktop{
        display: none;
    }
    .contact-mobile{
        display: block;
        width: 90%;
    }
    .route-links{
        flex-direction: column;
    }
    .route-links a{
        margin-top: 20px;
    }
    .custom-border{
        border:none;
    }
    .custom-border ~ div{
        padding: 0;
    }
    .top-border{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .aws-sld__wrapper{
        height: 200px;
    }
    .especialist-card-mobile{
        border-radius: 9px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        height: 485px;
    }
    .treatments-container{
        width: 100%;
    }
    .card-image{
        height: auto;
    }
    .card-container{
        height: 435px;
    }
    /* .card-container:hover{
        height: auto;
    } */
    .experience-container-carousel p.alice-carousel__prev-btn-item{
        left: 2%;
    }
    .experience-container-carousel p.alice-carousel__next-btn-item{
        right: 2%;
    }

}
@media (min-width: 961px){
    .embebed-map{
        height: 225px;
    }
}
@media (min-width: 1100px){
    .card-container{
        height: 490px;
    }
    /* .card-container:hover{
        height: auto;
    } */
    /* .embebed-map{
        height: 395px;
    } */
}
@media (min-width: 1300px){
    /* .embebed-map{
        height: 310px;
    } */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "ContactInfo ContactInfo OfixImage OfixImage" "MapOfix MapOfix OfixImage OfixImage" "MapOfix MapOfix OfixImage OfixImage" "MapOfix MapOfix OfixImage OfixImage" "MapOfix MapOfix OfixImage OfixImage";
   height: 540px;  
}

.ContactInfo { grid-area: ContactInfo; }

.OfixImage { 
    grid-area: OfixImage;
    text-align: left;
    padding-left: 2%;
}

.MapOfix { 
    grid-area: MapOfix;
    position: relative;
    overflow: hidden;
}
.OfixImage img{
    height: 100%;
}