.top-header{
    background-color: white;
    height: 38px;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.top-header-main-text h4{
    color:#69ABBE;
    font-size: 15px;
    font-weight: bold;
}

.social-network-number a{
    color: #717171;
    font-size: 14px;
    font-weight: normal;
    border-right: 1px solid #e6e6e6;
    text-decoration: none;
    padding-right: 10px;
}
.social-network-number a:hover{
    color: black;
}
.social-icon svg {
    width: 24px;
    padding: 4px;
}

a.social-icon:hover {
    border-radius: 50%;
    background-color: #E8E8E8;
}

a.social-icon {
    padding: 2px;
    display: flex;
    width: 32px;
    height: 32px;
}
.top-header.mobile-header{
    position: fixed;
    bottom: 0;
    background-color: black;
    height: 32px;
}
.mobile-header .top-header-main-text{
    display: none;
}
.mobile-header .social-network-number a{
    color: white;
}

.navbar-links .mobile-header svg{
    filter: brightness(100);
}

@media (max-width: 960px) {
    .top-header{
        flex-wrap: wrap;
        text-align: center;
        height: 70px;
    }
    .top-header-main-text {
      width: 100%;
      display: block;
      border-bottom: 1px solid lightgray;
    }
    .top-header-main-text h4{
        margin-bottom: 8px;
        margin-top: 8px;
    }
    .top-header-social-network {
        width: 70%;
        
    }
    .top-header-doctor{
        overflow: hidden;
        width: 30%;
        display: inline-block;
        margin-top: 5px;
    }
    .top-header-doctor svg {
        width: 190px;
    }
  }